<% layout('/layouts/boilerplate.ejs') %>

<div class="row my-3">
    <h1 class="col-6 offset-4">Login on Wanderlust</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" id="username" type="text" name="username" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" id="password" type="password" name="password" required>
            </div>
            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>